@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Racing+Sans+One&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



legend{
    font-size: 1.875rem ;
}

header{
    background-image: url(../assets/imagenes/photo-1592588253414-887759037c2a.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height:300px;
    font-size:1.25rem;
    display: flex;
    justify-content: space-between;
    
}

main{
    background-color:rgba(55, 0, 255, 0.26);
}


.fondoUno{
    background-image: url(../assets/imagenes/1000_F_107617179_Xm1pv9u0RZUPi6VekOgy7R6zAEfikw58.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;

}

li{
    list-style: none;

}

header img{
    width: 450px;
    height: 400px;
}
.navbar {     
    list-style: none;
    font-family: 'Racing Sans One', cursive; 
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    gap: 20px;

}

.navbar li a{
    text-decoration: none;
    color: rgba(233, 6, 6, 0.904);
    font-size: 1.5625rem;   

}




.tituloNueve{
    text-align: center;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Racing Sans One', cursive;
    letter-spacing: 2px;
    font-size: 1.5625rem;

}

.cardContainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}
.card{
    background-color:rgba(0, 0, 128, 0.452) ;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    box-shadow: 3px 2px 5px black;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size:1.25rem; 
    border-radius: 15px;
    margin: 20px 20px;


}

.boton{
    background-color: rgba(238, 255, 0, 0.747);
    font-size: 1.25rem;
    margin-top: 20px;
}
.tachadoUno{
    text-decoration: line-through;
}



.flexRedondo{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly; 
    align-items: flex-end;
    padding-top: 100px;

}

.imagenRedonda{
    border-radius: 250px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 4px 4px 6px black;

}

/* entrenamiento */

.hUno{
    height: 100px;;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cardEntrenamientocontainer{
    width: 100%;
    height: 400px;
    font-size: 1.25rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.cardE{
    width: 300px;
    height: 400PX;
    border: 2px solid black;
    box-shadow: 3px 2px 5px black;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    border-radius: 15px;
}

.hiit{
    background-color: red;
}
.fuerza{
    background-color: blue;
}

.cardImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cardImg img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.cardInfo{
    color: black;

}


.cardio{
    background-color: chartreuse;
}
.hipertrofia{
    background-color: rgb(128, 0, 122);
}



/*Nutricion deportiva*/


.tituloNutricion{
    font-size:2.5rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;


}

.cardGrid{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "seccionHdc imgNutricionuno" 
    "imgNutriciondos seccionProteinas"
    "seccionGrasas imgNutriciontres"
    ;
    align-items: center;

}


.seccionHdc{    
    grid-area: seccionHdc;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.096);
    font-family: 'Racing Sans One', cursive; 
    font-size:1.25rem ;

}

.imgNutricionuno{
    width: 200px;
    grid-area: imgNutricionuno;
    display: flex;
    justify-content: center;
    filter: brightness(1.1);
    mix-blend-mode: multiply;


}
.seccionHdc button{
    background-color: rgba(255, 0, 0, 0.178);
    font-size: 1.25rem;
}

.seccionProteinas{
    grid-area: seccionProteinas;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.096);
    font-family: 'Racing Sans One', cursive; 
    font-size:1.25rem;

}

.imgNutriciondos{
    grid-area:imgNutriciondos ;
    display: flex;
    justify-content: flex-end;
    filter: brightness(1.1);
    mix-blend-mode: multiply;  




}

.seccionProteinas button{
    background-color: rgba(255, 0, 0, 0.178);
    font-size: 1.25rem;
}

.seccionGrasas{
    grid-area: seccionGrasas;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.096);
    font-family: 'Racing Sans One', cursive; 
    font-size:1.25rem;

}

.seccionGrasas button{
    background-color: rgba(255, 0, 0, 0.178);
    font-size: 1.25rem;
}

.imgNutriciontres{
    grid-area: imgNutriciontres;
    display: flex;
    justify-content: flex-start;
    filter: brightness(1.1);
    mix-blend-mode: multiply;


}

.seccionRecetario h3{
    text-align: center;
    font-family: 'Racing Sans One', cursive; 
    font-size: 1.875rem;
}

.iframeUno{
    display: flex;
    justify-content: center;
}



.tituloCuatro{
    color: forestgreen;
}


.seccionPodcast h2{
    text-align: center;
    background-color: rgba(255, 0, 0, 0.568);
}






/*Quienes somos*/

.tituloQuienes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem; 

}

.textoUno{
    text-align: center;
    font-size: 1.875rem;
    font-family: 'Racing Sans One', cursive;
    display: flex;
    justify-content: center;
}

.tituloOnce{
    font-family: 'Racing Sans One', cursive; 
    display: flex;
    justify-content: center;
}

.flexQuienes{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1f fr1 1fr;
    grid-template-areas: 
    "item1 item1 item2 item3"
    "item1 item1 item5 item5"
    "item4 item4 item4 item4"
    ;
    gap: 5px;
}


.item1{
    grid-area: item1;
    height: 500px;
}

.item2{
    grid-area: item2;
    height: 200px;
}

.item3{
    grid-area: item3;
    height: 200px;
}

.item4{
    grid-area: item4;
    height: 500px;
    height: 200px;
}

.item5{
    grid-area: item5;
    height: 300px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galleryTitulo{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    font-size: 2.5rem;
    color: brown;
}



/*Contacto*/



.formularioUno{
    font-size: 1.5625rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Racing Sans One', cursive; 
    margin-bottom: 50px;
}

.formularioDos{
    width: 100%;
    font-family: 'Racing Sans One', cursive; 
    margin-bottom: 20px;
    font-size:1.5625rem;
    margin-bottom: 50px;

}


.formularioTres{
    font-size: 1.5625rem;
    width: 100%;
    font-family: 'Racing Sans One', cursive; 
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;

}


.tituloDiez{
    display: flex;
    justify-content: center;
    font-family: 'Racing Sans One', cursive; 
    font-size: 2.1875rem;
}

.textoDiez{
    font-size:1.25rem;
    font-family: 'Racing Sans One', cursive;
    display: flex;
    justify-content: center;
    text-align: center;
}

.cuentanosMas{
    display: flex;
    justify-content: center;
    font-size: 1.875rem;
}



/*footer*/
footer{
    background-color: brown;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 240px;
    align-items: center;
}

footer p{
    display: flex;
    justify-content: center;
}

.footerLogo{
    display: flex;
    border-bottom: 10px;
    width: 100%;
    height: 150px;
}



@media(max-width:420px){
    .navbar{
        flex-direction: column;
        font-size: .625rem;
        align-items: center;
        gap: 9px;
    }
    header{
        margin-bottom: 128px;
        height: 309px;
    }
    .cuentanosMas{
        font-size: 1.5rem;
    }
    .legend{
        font-size:1.5rem;
    }   
    .flexQuienes{
        flex-direction: column;
        gap:10px;
        justify-content: flex-end;
        align-items: center;
    }
    .flexQuienes img{
        width: 145px;
        margin-top: -7px;
    }
    .textoUno{
        font-size:1.125rem;
    }
    .tituloQuienes{
        font-size: 1.5625rem;
    }
    .galleryTitulo{
        font-size: 1.625rem;
        text-align: center;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(1,3%);
        grid-template-rows:repeat(1,28%);
        grid-area:  
        "item1 item3 "
        "item1 item3"
        "item1 item4"
        "item5 item5"
        ;
    }

}   




@media(max-width:320px){
    header{
        width: 105%;
        margin-bottom: 7px;
        height: 391px;
    }
    body{
        width: 100%;

    }
    .navbar{
        flex-direction: column;
        font-size: 3.625rem;
        align-items: center;
        justify-content: flex-start;
        gap: 9px;
        width: 100%;

    }
}

@media(max-width:768px){
    .navbar{
        flex-direction: column;
        align-items: center;
        width: 100%;    
    }
    
}



